/* Universal Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* General Styling Start */
body {
    background-color: #e7e4e4;
}

.mobile {
    display: none;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content h2 {
    font-size: 2.25rem;
    color:#4A4A4A;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 1.2;
}

.content h3 {
    color:#4a4a4a;
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: 300;
}
/* General Styling End */

/* =========== Header Styling Start =========== */

/* Navigation Styling Start */
header {
    background-color: #ffffff;
}

header .content {
    height: 5.3125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.desktop ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.desktop ul li a {
    font-size: 1rem;
    color: #4A4A4A;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.6;
}

.logo {
    font-family: "Roboto-mono", monospace;
    font-size: 1.5rem;
    font-weight: 400;
    color: #4A4A4A;
}

.instagram {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    width: 1.2rem;
    height: auto;
}
/* Navigation Styling End */

/* =========== Header Styling End =========== */

/* =========== Main Content Styling Start =========== */

/* Sign Up Styling Start */
.banner {
    padding: 10.625rem 50% 10.625rem 6.25rem;
    background-image: url("../images/banner-landingpage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 4rem;
}

#sign-up-cta {
    background-color: #9dc20a;
    color: #ffffff;
    border: 1px solid #979797;
    border-radius: 4px;
}

.content .header {
    padding-top: 2rem;
    padding-bottom: 0.75rem;
}

.cursive {
    font-family: "Damion";
    font-weight: 400;
    font-size: 2rem;
}

.striking {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 3.125rem;
}

.email {
    padding: 0 5rem 3.5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email span {
    font-size: 1.25rem;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.4;
}

.email .button {
    margin-top: 1.625rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
    background-color: #4a4a4a;
    height: 4rem;
    width: 25.5rem;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;   
}
/* Sign Up Styling End */

/* Features Styling Start */
#features-section {
    display: flex;
    justify-content: center;
    gap: 2.375rem;
    margin-bottom: 2.875rem;
}

.feature {
    height: 39.6875rem;
    width: 39.6875rem;
    background-color: #ffffff;
    border-radius: 4px;
}

.center .image-container {
    padding: 2rem 2rem 2.5rem 2rem;
}

.center .image-container img {
    width: 95%;
    height: 65%;
}

.center .content {
    padding-left: 2rem;
    padding-right: 2rem;
}

.center .content h2 {
    margin-bottom: 0.5rem;
}

.center .content h3 {
    line-height: 1.2;
}
/* Features Styling End */

/* =========== Main Content Styling End =========== */

/* =========== Media Query Start =========== */

/* Tablet Landscape */
@media only screen and (min-width: 1024px) {

}

/* Tablet */
@media only screen and (min-width: 768px) {

}

/* Mobile */
@media only screen and (min-width: 480px) {

}
/* =========== Media Query End =========== */